/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin-top: 56px;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carousel Styles */
.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

/* Quienes Somos Section */
#quienes-somos .icon img {
    height: 50px;
}

#quienes-somos p {
    background-color: #050708;
}

/* Destacados Section */
.card {
    border: 1px solid #FFFFFF;
}

.card-text {
    color: #FFFFFF;
}

/* Contact Form Section */
#contacto .form-control {
    background-color: #FFFFFF;
    color: #000000;
}

#contacto .btn-primary {
    background-color: #30C5F9;
    border: none;
}

/* Footer Styles */
footer a {
    color: #FFFFFF;
}

footer a img {
    height: 30px;
}

footer a:hover {
    text-decoration: none;
}
