body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

.navbar-brand {
    font-size: 1.5rem;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.bg-primary {
    background-color: #30C5F9 !important;
}

.bg-dark {
    background-color: #050708 !important;
}

.text-primary {
    color: #30C5F9 !important;
}

.text-white {
    color: #FFFFFF !important;
}

.card {
    border: 1px solid #FFFFFF;
}

.card .card-body {
    background-color: #30C5F9;
    color: #FFFFFF;
}

footer a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #FFFFFF;
}

footer p {
    margin-top: 20px;
}

.hero-section {
    padding: 50px 0;
}

.hero-section h1 {
    color: #30C5F9;
}

#quienes-somos p {
    background-color: #050708;
    color: #FFFFFF;
}

#quienes-somos i {
    background-color: #30C5F9;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#quienes-somos .col-md-4 {
    margin-bottom: 30px;
}

#contacto label {
    color: #FFFFFF;
}

#contacto .form-control {
    background-color: #FFFFFF;
    color: #050708;
}

#contacto .btn-primary {
    background-color: #30C5F9;
    border-color: #30C5F9;
}
